*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0px 80px 0px 80px;
    line-height: 80px;
    width: 1744px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    z-index: 1;
}
.menu .logo{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
    width: 120px;
    text-align: center;
}
.menu .logo:hover{
    color: #FF6701;
}
.menu .main-menu ul{
    display: flex;
}
.menu .main-menu ul li{
    list-style: none;
}
.menu .main-menu ul li a{
    text-decoration: none;
    margin-right: 50px;
}
ul .option-menu{
    display: flex;
    margin-left: 400px;
}
ul .option-menu a{
    color: black;
    padding-right: 30px;
}
ul .option-menu a:hover{
    color: #FF6701;
}
ul .btn-login{
    margin-right: 230px;
}
ul .btn-login a{
    color: black;
}
.btn-login i{
    margin-right: 10px;
    font-size: 30px;
    
}
.btn-login span:hover{
    color: grey;
}
.icon-cart a{
    color: black;
}
.icon-cart i{
    font-size: 35px;
}
.header{
    background-color: #FF6701;
    height: 270px;
    margin: 80px 80px 10px 80px;
    color: white;
}
.header #title {
    text-align: center;
    
    font-size: 25px;
    padding-top: 50px;
}
.header #title p{
    font-weight: 600;
    margin: 10px 0px 50px 0px;
}
.header #category ul{
    display: flex;
    margin-left: 450px;
}
.header #category ul li{
    list-style: none;
    height: 40px;
    width: 200px;
    border: 3px solid white;
    margin-right: 100px;
}
.header #category ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    line-height: 40px;
    justify-content: center;
}
 .header #category a:hover{
    background-color: white;
    color: #FF6701;
}
.banner{
    margin: 0px 80px 150px 80px;
}
.banner #img2{
    margin: 0px 8px 0px 8px;
}
.title{
    margin: 0px 80px 150px 80px;
}
.title h1{
    color: black;
    font-size: 90px;
    text-align: center;
}
.title #line{
    width: 750px;
    background-color: #FF6701;
    height: 10px;
    position: static;
    margin-top: -30px;
    margin-left: 490px;
}
.content{
    margin: 0px 80px 0px 80px;
}
/* #products .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#products .products-list li{
    list-style: none; 
    margin-bottom: 80px;

}
#products .products-list li img{
    margin-bottom: 10px;
    list-style: none; 
}
#products .products-list li a{
    text-decoration: none;
    color: black;
}
#products .products-list #money{
    color: #FF6701;
    margin-top: 10px;
} */
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: 24%;
    padding-bottom: 60px;
    position: relative;
}

.product-card img {
    width: 100%;
}

.product-card .img {
    position: relative;
    overflow: hidden;
}

.product-card .img p a {
    position: absolute;
    bottom: -20%;
    background-color:whitesmoke;
    transition: all 0.5s;
    right: 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: black;
}

.product-card .img:hover p a {
    bottom: 0;
    width: 100%;
    height: 10%;
    padding-top: 4%;
    font-size: 20px;
}

.product-card .img .img-product-hover {
    transition: 0s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.product-card .img:hover .img-product {
    opacity: 0;
}

.product-card .img:hover .img-product-hover {
    opacity: 1;
}

.product-card .sell {
    width: 95px;
    height: 35px;
    background-color: #FF6701;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .product-title{
    margin: 10px 0px 10px 0px;
}
.product-card .price {
    color: orange;
}
.content #btn-all{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.content #btn-all p{
    width: 200px;
    height: 40px;
    border: 3px solid #FF6701;
    font-weight: 600;
    
}
.content #btn-all p a{
    text-decoration: none;
    color: #FF6701;
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.content #btn-all #click{
    height: 46px;
    background-color:#FF6701;
    width: 40px;
}
.content #btn-all #click a{
    text-decoration: none;
}
.content #btn-all a:hover{
    color: white;
    background-color: #FF6701;
}
.content #btn-all #click i{
    display: flex;
    justify-content: center;
    line-height: 46px; 
    color: white;
}
.content #btn-all #click:hover{
    background-color: #FFC288;
}
.footer{
    background-color: black;
    height: 350px;
    margin: 0px 80px 80px 80px;
}
.footer #footer-service{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer #footer-service ul{
    margin-top: 50px;
}
.footer #footer-service ul li{
    list-style: none;
    margin-right: 100px;
    margin-top: 20px;
}
.footer #footer-service ul li a{
    text-decoration: none;
    color: white;
}
.footer #footer-service #footer-service1{
    color: white;
    margin-top: 100px;
}
.footer #footer-service #footer-service1 input{
    height: 40px;
    width: 250px;
    background-color: black;
    border: 3px solid white;
    color: white;
}
.footer #footer-service #footer-service1 input::placeholder{
    color: white;
    padding-left: 30px;
}
.footer #footer-service #footer-service1 button{
    display: flex;
    margin-top: 5px;
    border: 1px solid #FF6701;
    font-size: 15px;
}
.footer #footer-service #footer-service1 button a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 255px;
    background-color: #FF6701;
}
.footer #footer-service #footer-service1 button a:hover{
    background-color: #FFC288;
}
.social{
    position: fixed;
    right: 30px;
    top: 150px;
}
.social ul li{
    list-style: none;
    margin-top: 10px;
}
.social ul li a{
    text-decoration: none;
    color: black;
}
.chat{
    height: 60px;
    width: 200px;
    background-color: black;
    position: fixed;
    right: 30px;
    bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
}
.chat a{
    text-decoration: none;
    color: white;
    
}
/* .menu1 {
    height: 76px;
    line-height: 76px;
    white-space: nowrap;
    position: fixed;
}

.header-main {
    height: 76px;
    display: flex;
    align-items: center;
}

.header-main .header-logo {
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    width: 98px;
    background-color: black;
    text-align: center;
    margin-left: 0;
}

.header-main .header-logo p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header-main .header-logo p:hover {
    color: orange;
}

.navbar,
.navbar-menu,
.navbar-log {
    display: flex;
}

.navbar-log i {
    font-size: 25px;
    padding-right: 10px;
}

.navbar ul li {
    margin-right: 60px;
}

.navbar ul li a:hover {
    color: orange;
}

.header-cart {
    font-size: 35px;
    margin-right: 0;
} */


