* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1704px !important;
  margin: 50px;
}

.top {
  padding-top: 50px;
  border-bottom: 8px solid orange;
  z-index: 1;
}
.top h1 {
  font-size: 50px;
  margin: 0 0 -20px;
  z-index: 2;
}
.bottom {
  display: flex;
  padding-top: 100px;
}
.bottom-left {
  font-size: 15px;
  text-align: center;
}
.bottom-left p {
  text-align: left;
}
/* Header */
.menu {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0px 80px 0px 80px;
  line-height: 80px;
  width: 1744px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  background-color: whitesmoke;
}
.menu .logo {
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 25px;
  height: 45px;
  line-height: 45px;
  width: 120px;
  text-align: center;
}
.menu .logo:hover {
  color: #ff6701;
}
.menu #main-menu ul {
  display: flex;
}
.menu #main-menu ul li {
  list-style: none;
}
.menu #main-menu ul li a {
  text-decoration: none;
  margin-right: 50px;
}
ul #menu1 {
  display: flex;
  margin-left: 400px;
}
ul #menu1 a {
  color: black;
  padding-right: 30px;
}
ul #menu1 a:hover {
  color: #ff6701;
}
ul #btn-login {
  margin: 00px 200px 0px 40px;
}
ul #btn-login a {
  color: black;
}
#btn-login i {
  margin-right: 10px;
}
#btn-login span:hover {
  color: grey;
}
#icon-cart a {
  color: black;
}
/* Footer */
.footer {
  background-color: black;
  height: 350px;
  margin: 0px 80px 80px 80px;
}
.footer #footer-service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer #footer-service ul {
  margin-top: 50px;
}
.footer #footer-service ul li {
  list-style: none;
  margin-right: 100px;
  margin-top: 20px;
}
.footer #footer-service ul li a {
  text-decoration: none;
  color: white;
}
.footer #footer-service #footer-service1 {
  color: white;
  margin-top: 100px;
}
.footer #footer-service #footer-service1 input {
  height: 40px;
  width: 250px;
  background-color: black;
  border: 3px solid white;
  color: white;
}
.footer #footer-service #footer-service1 input::placeholder {
  color: white;
  padding-left: 30px;
}
.footer #footer-service #footer-service1 button {
  display: flex;
  margin-top: 5px;
  border: 1px solid #ff6701;
  font-size: 15px;
}
.footer #footer-service #footer-service1 button a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  width: 255px;
  background-color: #ff6701;
}
.footer #footer-service #footer-service1 button a:hover {
  background-color: #ffc288;
}
.social {
  position: fixed;
  right: 30px;
  top: 150px;
}
.social ul li {
  list-style: none;
  margin-top: 10px;
}
.social ul li a {
  text-decoration: none;
  color: black;
}
.chat {
  height: 60px;
  width: 200px;
  background-color: black;
  position: fixed;
  right: 30px;
  bottom: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 550;
}
.chat a {
  text-decoration: none;
  color: white;
}
@media (max-width: 576px) {
  .navbar {
    width: 375px;
    padding-left: 30px;
    height: 60px;
    display: block;
  }
  .header {
    display: block;
    width: 375px;
  }
  .header #title {
    font-size: 10px;
  }
  .header #category ul li {
    margin-left: -70px;
  }
  .header #category {
    margin-left: -395px;
  }
  .header #category ul {
    width: 375px;
  }
  .header #category a {
    font-size: 10px;
  }
  .banner {
    height: 950px;
  }
  .banner img {
    width: 375px;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 5px !important;
  }
  .social {
    display: none;
  }
  .title {
    width: 375px !important;
    height: 70px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .title h1 {
    font-size: 30px;
    margin-left: 150px;
  }
  .title #line {
    position: static;
    width: 250px;
    margin-left: 135px;
    height: 5px;
    margin-top: -21px;
  }
  .product-card {
    width: 375px;
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
  }
  .product .img img {
    width: 375px;
  }
  .product .sell {
    height: 50px;
    width: 80px;
    font-size: 15px;
  }
  #btn-all {
    margin-left: 110px;
  }
  #btn-all p {
    width: 180px !important;
  }
  #btn-all #click {
    width: 50px !important;
    height: 44px !important;
  }
  .footer {
    width: 375px;
    font-size: 15px;
    height: 100%;
  }
  .footer #footer-service {
    display: flex;
    flex-direction: column;
  }
  .footer #footer-service ul {
    margin-left: 90px;
  }
  #footer-service1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer #footer-service a {
    display: flex;
    justify-content: center;
  }
  .chat {
    width: 150px;
    position: fixed;
    height: 50px;
    margin-right: 60px;
  }
  .menu {
    display: flex;
    text-align: center;
  }
  .row {
    display: flex;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .bottom-left {
    margin: 0px;
    width: 80%;
  }
  img {
    width: 180%;
  }
  .footer #footer-service {
    display: block;
  }
  .footer {
    width: 100%;
    padding-left: 0px;
  }
}
